# MongoDB Operators

Go over the usage of common operators within pymongo queries

In [1]:
import pymongo
from pymongo import MongoClient

### Initalize A Client, Connect To DB, Speicfy Collection

In [2]:
client = MongoClient("mongodb://localhost:27017/")
db = client["my_store"]
products_col = db["products"]

In [6]:
products_col.insert_many([
  { "name": "Product A", "price": 12.5 },
  { "name": "Product B", "price": 20.4 },
  { "name": "Product C", "price": 15.8 },
  { "name": "Product D", "price": 30.0 },
  { "name": "Product E", "price": 25.5 },
  { "name": "Product F", "price": 18.2 },
  { "name": "Product G", "price": 22.9 },
  { "name": "Product H", "price": 14.7 },
  { "name": "Product I", "price": 27.3 },
  { "name": "Product J", "price": 19.6 }
]
)

InsertManyResult([ObjectId('67dfe5235d99446a25d0586a'), ObjectId('67dfe5235d99446a25d0586b'), ObjectId('67dfe5235d99446a25d0586c'), ObjectId('67dfe5235d99446a25d0586d'), ObjectId('67dfe5235d99446a25d0586e'), ObjectId('67dfe5235d99446a25d0586f'), ObjectId('67dfe5235d99446a25d05870'), ObjectId('67dfe5235d99446a25d05871'), ObjectId('67dfe5235d99446a25d05872'), ObjectId('67dfe5235d99446a25d05873')], acknowledged=True)

### Helper Function to print all entries in a cursor

In [3]:
def print_cursor(cursor):
    for document in cursor:
        print(document)

### Comparison Operators

###### $lt - Less Than

In [7]:
cursor = products_col.find({"price": {"$lt": 20}})
print_cursor(cursor)

{'_id': ObjectId('67dfe5235d99446a25d0586a'), 'name': 'Product A', 'price': 12.5}
{'_id': ObjectId('67dfe5235d99446a25d0586c'), 'name': 'Product C', 'price': 15.8}
{'_id': ObjectId('67dfe5235d99446a25d0586f'), 'name': 'Product F', 'price': 18.2}
{'_id': ObjectId('67dfe5235d99446a25d05871'), 'name': 'Product H', 'price': 14.7}
{'_id': ObjectId('67dfe5235d99446a25d05873'), 'name': 'Product J', 'price': 19.6}

###### $gte - Greater Than or Equal To (combined with another operator)

In [9]:
cursor = products_col.find({"price": {"$gte": 20}})
print_cursor(cursor)

{'_id': ObjectId('67dfe5235d99446a25d0586b'), 'name': 'Product B', 'price': 20.4}
{'_id': ObjectId('67dfe5235d99446a25d0586d'), 'name': 'Product D', 'price': 30.0}
{'_id': ObjectId('67dfe5235d99446a25d0586e'), 'name': 'Product E', 'price': 25.5}
{'_id': ObjectId('67dfe5235d99446a25d05870'), 'name': 'Product G', 'price': 22.9}
{'_id': ObjectId('67dfe5235d99446a25d05872'), 'name': 'Product I', 'price': 27.3}

###### $ne - Not Equal To (combined with another operator)

In [11]:
cursor = products_col.find({"name": {"$ne": "Product A"}})
print_cursor(cursor)

{'_id': ObjectId('67dfe5235d99446a25d0586b'), 'name': 'Product B', 'price': 20.4}
{'_id': ObjectId('67dfe5235d99446a25d0586c'), 'name': 'Product C', 'price': 15.8}
{'_id': ObjectId('67dfe5235d99446a25d0586d'), 'name': 'Product D', 'price': 30.0}
{'_id': ObjectId('67dfe5235d99446a25d0586e'), 'name': 'Product E', 'price': 25.5}
{'_id': ObjectId('67dfe5235d99446a25d0586f'), 'name': 'Product F', 'price': 18.2}
{'_id': ObjectId('67dfe5235d99446a25d05870'), 'name': 'Product G', 'price': 22.9}
{'_id': ObjectId('67dfe5235d99446a25d05871'), 'name': 'Product H', 'price': 14.7}
{'_id': ObjectId('67dfe5235d99446a25d05872'), 'name': 'Product I', 'price': 27.3}
{'_id': ObjectId('67dfe5235d99446a25d05873'), 'name': 'Product J', 'price': 19.6}

### Logical Operators

##### $and

In [17]:
cursor = products_col.find({
    "$and": [
        {"price": {"$gt": 20}},
        {"name": {"$ne": "pen"}}
    ]
})
print_cursor(cursor)

{'_id': ObjectId('67dfe5235d99446a25d0586b'), 'name': 'Product B', 'price': 20.4}
{'_id': ObjectId('67dfe5235d99446a25d0586d'), 'name': 'Product D', 'price': 30.0}
{'_id': ObjectId('67dfe5235d99446a25d0586e'), 'name': 'Product E', 'price': 25.5}
{'_id': ObjectId('67dfe5235d99446a25d05870'), 'name': 'Product G', 'price': 22.9}
{'_id': ObjectId('67dfe5235d99446a25d05872'), 'name': 'Product I', 'price': 27.3}

###### $or

In [18]:
cursor = products_col.find({
    "$or": [
        {"price": {"$gt": 20}},
        {"name": {"$lt": 15}}
    ]
})
print_cursor(cursor)

{'_id': ObjectId('67dfe5235d99446a25d0586b'), 'name': 'Product B', 'price': 20.4}
{'_id': ObjectId('67dfe5235d99446a25d0586d'), 'name': 'Product D', 'price': 30.0}
{'_id': ObjectId('67dfe5235d99446a25d0586e'), 'name': 'Product E', 'price': 25.5}
{'_id': ObjectId('67dfe5235d99446a25d05870'), 'name': 'Product G', 'price': 22.9}
{'_id': ObjectId('67dfe5235d99446a25d05872'), 'name': 'Product I', 'price': 27.3}

###### $nor

In [20]:
cursor = products_col.find({
    "$nor": [
        {"price": {"$gt": 20}},
        {"name": {"$lt": 15}}
    ]
})
print_cursor(cursor)

{'_id': ObjectId('67dfe5235d99446a25d0586a'), 'name': 'Product A', 'price': 12.5}
{'_id': ObjectId('67dfe5235d99446a25d0586c'), 'name': 'Product C', 'price': 15.8}
{'_id': ObjectId('67dfe5235d99446a25d0586f'), 'name': 'Product F', 'price': 18.2}
{'_id': ObjectId('67dfe5235d99446a25d05871'), 'name': 'Product H', 'price': 14.7}
{'_id': ObjectId('67dfe5235d99446a25d05873'), 'name': 'Product J', 'price': 19.6}

###### $type

In [23]:
cursor = products_col.find({
    "price": {"$type": "int"}
})
print_cursor(cursor)

### Other Useful Operators

###### $exists - Check if a attribute name exists in entries

In [25]:
cursor = products_col.find({
    "seller": {"$exists": True}
})
print_cursor(cursor)

#####  $regex - Search for substring within query entries